<section class="main-page__section">
    <div class="main-page__container">
        <article class="main-page__pope-article">
            <div class="main-page__article-container">
                <span class="main-page__article-subtitle">Whats your opinion?</span>
                <h3 class="main-page__article-title">Pope Francis?</h3>
                <p>He's talking tought on clergy sexual abuse, but is he just another papal pervert protector?</p>
                <div class="row more-info">
                    <a href="https://en.wikipedia.org/wiki/Pope_Francis">
                        <i class="material-icons">info</i>
                        <span class="text-overline">More information</span>
                    </a>
                </div>
                <div class="main-page__article-voting">
                    <span>What's your veredict?</span>
                </div> 
            </div>
            <div class="row main-page__voting-buttons">
                <button class="like-button col-6 btn btn-primary">
                    <i class="material-icons">thumb_up</i>
                </button>
                <button class="dislike-button col-6 btn btn-primary">
                    <i class="material-icons">thumb_down</i>
                </button>
            </div>
        </article>
    </div>
    <app-day-counter></app-day-counter>
</section>