<section class="main-page-container">
    <article class="main-page__pope-article">
        <span>Whats your opinion?</span>
        <h3 class="main-page__article-title">Pope Francis?</h3>
        <p>He's talking tought on clergy sexual abuse, but is he just another papal pervert protector?</p>
        <div class="row">
            <a href="https://en.wikipedia.org/wiki/Pope_Francis">
                <i class="material-icons">info</i>
                <span class="text-overline">More information</span>
            </a>
        </div>
        <span class="main-page__article-voting">What's your veredict?</span>
        <div class="row">
            <button class="col-6">
                <i class="material-icons">thumb_up</i>
            </button>
            <button class="col-6">
                <i class="material-icons">thumb_down</i>
            </button>
        </div>
    </article>
    <app-day-counter></app-day-counter>
</section>