<div class="day-counter__container row">
    <div class="progress day-counter__progress-bar">
        <div class="day-counter__left-bar progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
            <span class="day-counter__label">Closing In</span>
        </div>
        <div class="day-counter__right-bar">
            <span class="day-counter__number">22</span>
            <span class="day-counter__days">days</span>
        </div>
    </div>
</div>
