<article class="vote-article__container">
    <div class="vote-article__overlay">
        <div class="vote-article__content">
            <div class="row">
                <div class="vote-article__like-icon">
                    <i class="material-icons">thumb_up</i>
                </div>
                <h2 class="vote-article__name">Name Thompson</h2>
            </div>
            <span class="font-weight-bold">1 month ago</span>
            <span>in Something important</span>
            <div class="vote-article__voting-section-active">
                <p class="vote-article__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dicta quidem aliquam laboriosam sit quis expedita. Delectus eligendi, veniam eos veritatis suscipit nobis excepturi eius porro esse deleniti voluptatibus cupiditate.
                </p>
                <div class="row">
                    <button class="vote-article__like-btn">
                        <i class="material-icons">thumb_up</i>
                    </button>
                    <button class="vote-article__dislike-btn">
                        <i class="material-icons">thumb_down</i>
                    </button>
                    <div class="vote-article__vote-now">Vote Now</div>
                </div>
            </div>
            <div class="vote-article__voting-section-inactive">
                <p class="vote-article__description">
                    Thanks for voting!
                </p>
                <div class="vote-article__vote-now">Vote Again</div>
            </div>
            <div class="row">
                <div class="vote-article__left-bar">
                    <i class="material-icons">thumb_up</i>
                    <span class="vote-article__persentage">60%</span>
                </div>
                <div class="vote-article__right-bar text-right">
                    <i class="material-icons">thumb_down</i>
                    <span class="vote-article__persentage">40%</span>
                </div>
            </div>
        </div>
    </div>
</article>