<nav class="navbar navbar-expand-lg navbar-light fixed-top align-middle">
    <div class="left-menu-bar col-4">
        <h1 class="navbar__title">Rule of Thumb.</h1>
    </div>
    <div class="right-menu-bar col-8 text-right align-middle">
        <a href="#" class="right-menu-bar__span">
            <span>Past Trials</span>
        </a>
        <a href="#">
            <span class="right-menu-bar__span">How It Works</span>
        </a>
        <a href="#" class="right-menu-bar__span">
            <span>Log In/Sign Up</span>
        </a>
        <button class="right-menu-bar__search btn  btn-secondary">
            <i class="material-icons">search</i>
        </button>
    </div>
</nav>