<app-nav-bar></app-nav-bar>
<app-main-page></app-main-page>
<app-voting-page></app-voting-page>
<footer>
  <div class="row">
    <div class="footer_left-section col-8">
      <a href="#">Terms and Conditions</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="footer_right-section col-4">
      <span>Follow us</span>
      <a href="#">
        <i class="material-icons">facebook</i>
      </a>
      <a href="#">
        <i class="material-icons">twitter</i>
      </a>
    </div>
  </div>
</footer>